name: release
on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout repository
        uses: actions/checkout@v4
      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: setup jdk
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'
      - name: make gradle wrapper executable
        run: chmod +x ./gradlew
      - name: build all versions
        run: ./gradlew buildAllAll
      - name: create release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            fabric/build/libs/*.jar
            !fabric/build/libs/*-sources.jar
            !fabric/build/libs/*-dev.jar
